/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";

body {
  background-color: #ffffff;
  font-family: Arial;
  color: #361c1f;
  padding: 5% 0% 5% 5%;
  margin: 5px 5px 5px 5px;
}

.body-content {
  padding: 0% 0%;
  display: inline-block;
}

.clear{
  clear: both;
}


form {
 // background-color: antiquewhite;
  .errorMsg {
    width: 400px;
    list-style: none;
    padding: 10px;
    border: 1px solid red;
    color: red;
  }
}

.form-container{
  margin: 0px 2px 1px 1px;
  padding: 1% 0% 1% 0%;
  display: inline-block;
  justify-content: inherit;
background-color: rgba(57, 77, 78, 0.14);
}
.clear{
  clear: both;
}
.form-group{
  margin: 0px 2px 1px 1px;
  padding: 1% 0% 1% 0%;
  //display: inline-block;
  justify-content: inherit;
}

.clear{
  clear: both;
}
.form-control{
  margin: 0px 2px 1px 1px;
  padding: 1% 0% 1% 0%;
  display: inline-block;
  justify-content: inherit;
}
.clear{
  clear: both;
}

.alert alert-dange{
  margin: 0px 2px 1px 1px;
  padding: 1% 0% 1% 0%;
  display: inline-block;
  justify-content: inherit;
  font-color:red;
}
.clear{
  clear: both;
}


nav {
  min-width: 410px;
  height: available;
  min-height: 200px;
  display: inline-block;
  float: left;
  width: 30%;
  padding: 1% 2% 2% 1%;

  border-collapse: collapse;
}

nav left{
  width: 25%;
  min-width: 350px;
  height: available;
  min-height: 400px;
  float: left;
  background-color: rosybrown;
  border-collapse: collapse;
  padding: 0% 2% 2% 1%;
}

.clear{
  clear: both;
}



nav center{
  width: 50%;
  min-width: 800px;
  height: available;
  min-height: 650px;
  float: left;
  background-color: royalblue;
  border-collapse: collapse;
  padding: 0% 2% 2% 1%;
}

.clear{
  clear: both;
}



nav right{
  width: available;
  height: available;
  position: relative;
  margin-left: 75%;
  background-color: yellow;
  border-collapse: collapse;
  padding: 0% 2% 2% 1%;
}

.clear{
  clear: both;
}

.button-set {
  padding: 5px 10px 5px 10px;
}

.row text-right {
  color: #361c1f;
background-color:#ffffff;
  padding: 5px 10px;
  margin: 10px 10px;

}
#cancelBtn{

  color: #361c1f;
  background-color:#ffffff;
  padding: 5px 10px;
  margin: 10px 10px;
}

#saveBtn{
  color: #361c1f;
  background-color:#ffffff;

  padding: 5px 10px;
  margin: 10px 10px;
}
.clear{
  clear: both;
}
