<h5>Introduction & Company Information>></h5>

<div class="container-fluid ">
  <ul class='errorMsg' *ngIf="errorMsgList">
    <li *ngFor="let errorMsg of errorMsgList">{{errorMsg}}</li>
  </ul>

<form class="form-container">
  <nav>
    <div class="left">
  <div class="form-group">
    <label>Company Name : </label>
      <input type="text" name="company_name" value="" id="company_name" placeholder="Company Name" >
  </div>

  <div class="form-group">
    <label>Company/UTN No<span style="color: red">*</span> : </label>
    <input type="text" name="company_no" maxlength="12" value=""
           id="company_no" placeholder="Company No.">
  </div>

  <div class="form-group">
    <label>Incorp.Date<span style="color: red">*</span> : </label>
    <input ng-model="date" uib-datepicker-popup is-open="isopen">
  </div>

    <div class="form-group">
      <label>Address : </label>
      <textarea name="address" cols="" rows="" id="companyAddress"
                class="form-control"></textarea>
    </div>

    <div class="form-group">
      <label>Phone Number : </label>
      <input type="text" name="phone" maxlength="16" value="" id="phone"
             class="form-control input-md"
             onblur="this.value = this.value.replace(/[^0-9]+/, '');"
             onkeyup="this.value = this.value.replace(/[^0-9]+/, '');"
             placeholder="Phone Number">
    </div>

    <div class="form-group">
      <label>Fax No. : </label>
      <input type="text" name="fax" maxlength="16" value="" id="fax"
             class="form-control input-md"
             onblur="this.value = this.value.replace(/[^0-9]+/, '');"
             onkeyup="this.value = this.value.replace(/[^0-9]+/, '');"
             placeholder="Fax No.">
    </div>

    <div class="form-group">
      <label>PAN : </label>
      <input type="text" name="panNumber" maxlength="10" value="" id="pan"
             class="form-control input-md"
             onblur="this.value = this.value.replace(/[^a-zA-Z 0-9\n\r.]+/g, '');"
             onkeyup="this.value = this.value.replace(/[^a-zA-Z 0-9\n\r.]+/g, '');"
             placeholder="PAN No.">
    </div>


    <div class="form-group">
      <label>Language : </label>
      <input type="text" name="lang" maxlength="245" value="" id="lang"
             class="form-control input-md"
             onblur="this.value = this.value.replace(/[^a-z-A-Z]+/, '');"
             onkeyup="this.value = this.value.replace(/[^a-z-A-Z]+/, '');"
             placeholder="Language" oninput="validateAlpha();">
    </div>

    <div class="form-group">
      <label>Email : </label>
      <input type="text" name="email" maxlength="245" value="" id="email"
             class="form-control input-md"
             onblur="validateEmail(this.value)" placeholder="Email">
    </div>

    <div class="form-group">
      <label>Website : </label>
      <input type="text" name="web" value="" id="web"
             class="form-control input-md" placeholder="Website">
    </div>
    </div>
  </nav>

<nav>
  <div class="center">
    <div class="form-group">
      <label>Country : </label>
      <select name="countryId" id="countryId" class="form-control"></select>
    </div>

    <div class="form-group">
      <label>State<span style="color: red">*</span> : </label>
      <select name="stateId" id="stateId" class="form-control"></select>
    </div>

    <div class="form-group">
      <label>Currency : </label>
      <select name="currencyId" id="currencyId" class="form-control" ng-model="selectedCurrency"></select>
    </div>

  <div class="form-group">
    <label>GST Registered? : </label>
    <input type="radio" name="registeredCompany"
           id="registeredCompany_0" value="true" checked="checked"
           onchange="checkData()">
    Yes
    <input type="radio" name="registeredCompany"
           id="registeredCompany_1" value="false"
           onchange="checkData(this)">
    No
  </div>

  <div class="form-group">
    <label>GST No. : </label>
    <input type="text" name="registerNo" maxlength="15" value=""
           id="registerNo" class="form-control input-md"
           onblur="this.value = this.value.replace(/[^a-zA-Z 0-9\n\r.]+/g, ''),equalcheckComvsGst();"
           onkeyup="this.value = this.value.replace(/[^a-zA-Z 0-9\n\r.]+/g, '');"
           placeholder="GST No.">
  </div>

  <div class="form-group">
    <label>GST Registered Date : </label>

  </div>

  <div class="form-group">
    <label>Company Logo : </label>
    <div id="imagePreview" class="form-container">
      <input type="file" name="myFile" value="" id="myFile"
             class="filestyle" onchange="return ValidateFileUpload()"
             data-buttontext="Find file"
             style="height: 28px; width: 175px; position: absolute; clip: rect(0px 0px 0px 0px);"
             tabindex="-1">
      <div class="bootstrap-filestyle input-group">
        <input type="text" class="form-control " disabled=""> <span
        class="group-span-filestyle input-group-btn" tabindex="0">
        <label for="myFile" class="btn btn-default " style="margin-bottom: 0; top:3px;">
          <span class="glyphicon glyphicon-folder-open"></span> Find file</label></span>
      </div>
      <img src="resource/images/upload.gif"
           style="height:170px; width:175px;" id="blah">
    </div>
  </div>
  </div>
</nav>

  <nav>
    <div class="right">
  <div class="form-group">
    <label>Last Accounting Year Closing Date<span style="color: red">*</span> : </label>

  </div>

    <div class="form-group">
      <label>Closing Method : </label>
      <select name="closingMethod" id="closingMethod" class="form-control">
        <option value="yearCl">Yearly Closing</option>
      </select>
    </div>

    <div class="form-group">
      <label>Starting Period<span style="color: red">*</span> : </label>
      <select name="startperiod" id="startperiod"
              class="form-control">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
      </select>
    </div>

    <div class="form-group">
      <label>Closing Period<span style="color: red">*</span> : </label>
      <select name="closingperiod" id="closingperiod"
              class="form-control">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
      </select>
    </div>

    <div class="form-group">
      <label>Extension Period : </label>
      <select name="bufferDays" id="bufferDays" class="form-control">
        <option value="0" selected="selected">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
      </select>
    </div>

    <div class="form-group">
    <p>This Accounting Year</p>
    </div>

    <div class="form-group">
      <label style="padding-top: 0px;  margin-bottom: 8px!important;">From : </label>
      <input type="text" name="startyear" value=""
             readonly="readonly" id="startyear"
             class="form-control">
    </div>

    <div class="form-group">
      <label style="padding-top: 0px;">To : </label>
      <input type="text" name="endyear" value=""
             readonly="readonly" id="endyear"
             class="form-control">
    </div>

    <div class="form-group">
      <label style="padding-top: 0px;">Extension : </label>
      <input type="text" name="bufferDate" value=""
             readonly="readonly" id="bufferDate"
             class="form-control">
    </div>

    <div class="form-group">
    <label>GST Taxable Period : </label>
      <select name="gstreturnalertdue" id="gstreturnalertdue1"
              class="form-control">
        <option value="1" selected="selected">Monthly</option>
        <option value="3">Quarterly</option>
      </select>
    </div>
    </div>
  </nav>
</form>



  <div class="row text-right" style="margin-top: 15px;">
    <button id="cancelBtn" class="btn btn-primary hi_btn ">Cancel</button>
    <input type='submit'class="right" (click)="save()" value="save" />
  </div>
</div>




<div class="modal fade" id="alertModal" role="dialog" tabindex="-1" data-backdrop="static"
     aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header" style="max-height:50px;">
        <button type="button" class="close" data-dismiss="modal" style="color:#ffffff;">&times;</button>
        <h4 class="modal-title" style="color:#ffffff;">ALERT</h4>
      </div>
      <div class="modal-body">
        <p>This is a small modal.</p>
      </div>
      <div class="modal-footer" style="text-align: center;padding: 5px;">
        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>


<button id="showAlertModal" type="button" data-toggle="modal" data-target="#alertModal"
        style="display: none; visibility: hidden;"></button>

